---
name: Publish

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - "master"
      - "main"
    tags:
      - "v*"
  workflow_dispatch:

permissions: read-all

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v3

      - name: Build and Publish Image
        uses: wesley-dean/publish_container@fde544b1d7d921fc531c6f09abb6c61b9ba76b17 # pin@v1.0.12
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_PAT }}
          ghcr_token: ${{ secrets.GHCR_PAT }}
          ghcr_username: ${{ secrets.GHUB_USERNAME }}
          github_ref: ${{ github.ref }}
          repository_name: ${{ github.event.repository.name }}
          platforms: linux/amd64,linux/arm/v7
